# Rasa core
rasa==3.6.18
rasa-sdk==3.6.2

# Utilities
ujson<5.9
numpy
scikit-learn
requests

# Optional for custom actions and Google Sheets
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2

# Optional for better logging
coloredlogs
